@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Fira Mono", monospace, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.bodyLight {
  background-color: #e9e9e9;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bodyDark {
  background-color: #1a1a1a;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin shadow {
  box-shadow: -6px -6px 12px #fff, 6px 6px 9px rgba(#000, 0.2);
}
@mixin shadowDark {
  box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.05),
    6px 6px 9px rgba(0, 0, 0, 0.5);
}
@mixin shadowDark-inset {
  box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.05),
    inset 6px 6px 9px rgba(0, 0, 0, 0.5);
}
@mixin shadow-inset {
  box-shadow: inset -6px -6px 12px #fff, inset 6px 6px 9px rgba(#000, 0.2);
}

.everything-light {
  @include shadow;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 2rem;
  .container {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);

    button {
      @include shadow;
      outline: none;
      border: none;
      margin: 0.5rem;
      border-radius: 30px;
      cursor: pointer;
      background-color: #e9e9e9;
      color: rgba(0, 46, 88, 0.8);

      &:hover,
      &:active {
        background-color: #dedede;
      }
      &:active {
        @include shadow-inset;
      }
    }
    .color {
      color: rgb(0, 46, 88);
      font-weight: 700;
    }
    .spanTwo {
      grid-column: span 2;
    }
    .output {
      @include shadow-inset();
      margin-bottom: 1rem;
      border-radius: 10px;
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      padding: 0.75rem;
      word-wrap: break-word;
      word-break: break-all;

      .previousEntry {
        color: rgba(0, 46, 88, 0.7);
        font-size: 1rem;
      }
      .currentEntry {
        font-size: 2rem;
        color: rgb(0, 46, 88);
      }
    }
  }
  .bottomRow {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .drk_lt {
      @include shadow;
      padding: 1rem;
      outline: none;
      width: 2.5em;
      font-size: 90px;
      border-radius: 30px;
      cursor: pointer;
      background-color: #e9e9e9;
      color: rgb(0, 46, 88);
      &:hover,
      &:active {
        background-color: #dedede;
      }
      &:active {
        @include shadow-inset;
      }
    }
  }
}

// dark mode settings

.everything-dark {
  @include shadowDark;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 2rem;
  .container {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);

    button {
      @include shadowDark;
      outline: none;
      border: none;
      margin: 0.5rem;
      border-radius: 30px;
      cursor: pointer;
      background-color: #181818;
      color: rgba(204, 204, 204, 0.5);

      &:hover,
      &:active {
        background-color: #1a1a1a;
      }
      &:active {
        @include shadowDark-inset;
      }
    }
    .color {
      color: rgb(238, 75, 0);
      font-weight: 700;
    }
    .spanTwo {
      grid-column: span 2;
    }
    .output {
      @include shadowDark-inset();
      margin-bottom: 1rem;
      border-radius: 10px;
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      padding: 0.75rem;
      word-wrap: break-word;
      word-break: break-all;

      .previousEntry {
        color: rgba(204, 204, 204, 0.4);
        font-size: 1rem;
      }
      .currentEntry {
        font-size: 2rem;
        color: rgba(204, 204, 204, 0.7);
      }
    }
  }
  .bottomRow {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .drk_lt {
      @include shadowDark;
      padding: 1rem;
      outline: none;
      width: 2.5em;
      font-size: 90px;
      border-radius: 30px;
      cursor: pointer;
      background-color: #181818;
      color: rgb(238, 75, 0);

      &:hover,
      &:active {
        background-color: #1a1a1a;
      }
      &:active {
        @include shadowDark-inset;
      }
    }
  }
}
